
* {
  padding:0;
  margin:0;
}


@media only screen and (min-width: 1000px) {
    .App {
        padding-left: 5%;
        padding-right: 5%;
        margin-left:10%;
        margin-right: 10%;
    }
}

.form {
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top:5%;
  /* padding-left: 40%; */
  margin-bottom:10%;
}


.random-btn {
  display: flex;
  padding:0.3rem;
  margin:0.3rem;
  
}
