.container {
    display: flex;
    justify-content: space-between;
    padding:2rem;
 
}
@media only screen and (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}
.btn {
    padding: 0.2rem;
    margin: 0.2rem;

}

